<div class="modal fade" id="editModal" ng-controller="TaskController">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="panel panel-warning title">
				<div class="panel-heading title">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="panel-title"> 修改信息</h3>
					
				</div>
				<div class="panel-body">
				<form ng-submit="editTask(selectedTask)">
				<input type="text" ng-model="selectedTask.title" class="form-control" placeholder="标题"  required><br>

				<textarea ng-model="selectedTask.description" class="form-control" placeholder="description of your tutor" required></textarea><br>

				<input type="number" ng-model="selectedTask.total" class="form-control" placeholder="How much for the tutor One hour" required><br>

				<input type="submit" value="确认修改" class="btn btn-info">
			</form>
				
				</div>
				
				
				
			</div>
			
		</div>
	</div>
</div>