<div class="container">
	<div class="row title">
		<div class="col-md-6 col-md-offset-3">

			<form ng-submit="updateTask(selectedTask)">
				<input type="text" ng-model="selectedTask.title" class="form-control" placeholder="Tutor title" value="{{task.title}}" required><br>

				<textarea ng-model="selectedTask.description" class="form-control" placeholder="description of your tutor" required></textarea><br>

				<input type="number" ng-model="selectedTask.total" class="form-control" placeholder="How much for the tutor One hour" required><br>

				<input type="submit" value="Update Tutor" class="btn btn-info">
			</form>
		</div>

	</div>

</div>